// FONT
$font-family: Roboto, Helvetica Neue, Arial, sans-serif;
$font-color: rgba(255, 255, 255, 0.7);
$font-size: 16px;
$font-size-sm: 14px;

@mixin fontSize($size) {
  font-size: $size;
  line-height: $size;
}

// COLORS
$color-yellow: #FFD740;
$color-red: #e53935;
$color-green: #4caf50;
$color-darker: rgba(0, 0, 0, 0.5);
$color-lighter: rgba(255, 255, 255, 0.5);

// SIDENAV
$sidenav-width: 260px;
$sidenav-title-height: 60px;

// TOOLBAR
$toolbar-height: $sidenav-title-height;

// MISC
$bg-darken: rgba(0, 0, 0, 0.15);
$bg-darken-full: rgba(0, 0, 0, 0.3);

// INPUTS
$input-placeholder-color: rgba(255, 255, 255, 0.4);
