<div class="content" fxFlex="flex">
  <div class="loading" *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'COMMON.EMAIL' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'COMMON.USERNAME' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.userName}}</mat-cell>
    </ng-container>

    <!-- Roles Column -->
    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'COMMON.ROLES' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.roles.join(', ')}}</mat-cell>
    </ng-container>

    <!-- Desc Column -->
    <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'COMMON.DESC' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.desc}}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef fxFlex="60px">{{'COMMON.ACTIONS' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="60px">
        <mat-icon class="action" routerLink="/admin/users/{{row._id}}">edit</mat-icon>
        <mat-icon class="action" (click)="delete(row)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'locked': row.locked}"></mat-row>
  </mat-table>
</div>
