@import "~eygle-core/client/core-common";

$padding: 20px;

.poster-container {
  width: 20%;

  > img {
    padding: $padding;
    max-width: 100%;
  }
}

.info-container {
  padding: $padding;

  .main {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid $bg-darken-full;

    h2 {
      margin: 20px 0;
    }

    .original-title {
      color: $color-lighter;
      margin-left: 15px;
    }

    & > .info {
      margin-top: 10px;
      color: $color-lighter;

      .separator {
        padding: 0 10px;
      }

      img:not(:first-of-type) {
        margin-left: 5px;
      }
    }
  }

  .block {
    margin-bottom: 30px;
    max-width: 750px;

    .line {
      margin-bottom: 10px;
      line-height: 1.4em;

      .label {
        color: $color-lighter;
        width: 120px;
        min-width: 120px;
        max-width: 120px;
        text-transform: uppercase;
      }

      a:not(:first-of-type) {
        &:before {
          content: ", ";
        }
      }
    }
  }

  .actors-list {
    width: 100%;
    max-width: 100%;

    .people {
      width: 115px !important;
      margin-bottom: 20px;

      .image-crop {
        position: relative;
        width: 100%;
        height: 115px;
        overflow: hidden;

        &:hover > .image-hover {
          display: block;
        }

        &:hover > .placeholder > mat-icon {
          display: none;
        }

        img {
          width: 100%;
          min-height: 100%;
        }

        .placeholder {
          width: 100%;
          height: 100%;
          background-color: $bg-darken;

          & > mat-icon {
            $size: 50px;
            height: $size;
            width: $size;
            font-size: $size;
            color: rgba(255, 255, 255, 0.3);
          }
        }

        .image-hover {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $bg-darken-full;
          color: white;

          & > div {
            height: 100%;

            & > mat-icon {
              $size: 50px;
              height: $size;
              width: $size;
              font-size: $size;
            }
          }
        }
      }

      .info {
        margin-top: 10px;

        > .subtitle {
          font-size: 0.8em;
          color: $color-lighter;
          margin-top: 5px;
        }
      }
    }
  }
}
