<div fxLayout="column" class="unselectable">
  <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="actions" fxLayout="row" fxLayoutAlign="start center">
      <span class="boxed" *ngIf="!isLoading && shows">{{shows.length}}</span>
    </div>
  </div>

  <div class="content" fxFlex="flex" fxLayout="row" fxLayoutAlign="center stretch" [perfectScrollbar]="config">
    <div class="loading" *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="20px" *ngIf="!isLoading">
      <div class="tv-show" *ngFor="let show of shows">
        <a routerLink="/tv-show/{{show._id}}">
          <div class="image-crop">
            <img *ngIf="show.poster" src="{{show.posterThumb}}" alt="{{show.title}}"/>
            <div class="placeholder" *ngIf="!show.posterThumb" fxLayout="row" fxLayoutAlign="center center">
              <mat-icon>tv</mat-icon>
            </div>
            <div class="image-hover">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>search</mat-icon>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="title">{{show.title}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
