@import "~eygle-core/client/core-common";

.main {
  font-weight: bold;
}

.sliders-actions {
  cursor: pointer;

  .disabled {
    cursor: default;
    color: transparentize($font-color, 0.6);
  }
}

//$ngu-btns-size: 30px;
//
//ngu-carousel {
//  padding-top: $ngu-btns-size + 10px;
//}
//
//mat-icon[ngucarouselnext], mat-icon[ngucarouselprev] {
//
//  position: absolute;
//  top: 0;
//  width: $ngu-btns-size;
//  height: $ngu-btns-size;
//  line-height: $ngu-btns-size;
//  cursor: pointer;
//
//  &:hover {
//    color: white;
//  }
//}
//
//mat-icon[ngucarouselnext] {
//  right: 0;
//}
//
//mat-icon[ngucarouselprev] {
//  right: $ngu-btns-size + 10px;
//}
