<!-- User page -->
<ng-container *ngIf="!isGuest()">
  <div fxLayout="column" class="unselectable">
    <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    </div>
    <div class="content" fxFlex="flex" fxLayout="column" [perfectScrollbar]="config">
      <div>
        <h2 translate="HOME.LAST_MOVIES"></h2>
        <div class="loading" *ngIf="areLoading.movies" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </div>

        <ngu-carousel [inputs]="carousels" *ngIf="!areLoading.movies">
          <ngu-item NguCarouselItem *ngFor="let movie of movies">
            <ems-media [media]="movie" route="movies" placeholderIcon="movie"></ems-media>
          </ngu-item>
          <mat-icon NguCarouselPrev class='leftRs'>chevron_left</mat-icon>
          <mat-icon NguCarouselNext class='rightRs'>chevron_right</mat-icon>
        </ngu-carousel>
      </div>

      <div>
        <h2 translate="HOME.LAST_TV_SHOWS">TV Shows</h2>
        <div class="loading" *ngIf="areLoading.tvShows" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </div>

        <ngu-carousel [inputs]="carousels" *ngIf="!areLoading.tvShows">
          <ngu-item NguCarouselItem *ngFor="let tvShow of tvShows">
            <ems-media [media]="tvShow" route="tv-shows" placeholderIcon="tv"></ems-media>
          </ngu-item>
          <mat-icon NguCarouselPrev class='leftRs'>chevron_left</mat-icon>
          <mat-icon NguCarouselNext class='rightRs'>chevron_right</mat-icon>
        </ngu-carousel>
      </div>
    </div>
  </div>
</ng-container>

<!-- Guest page -->
<ng-container *ngIf="isGuest()">
  <div class="content" fxFlex="flex">
    <h2 [translate]="'HOME.GUEST_VIEW.TITLE'"></h2>
    <p class="main" [translate]="'HOME.GUEST_VIEW.MAIN_INFO'"></p>
    <p [translate]="'HOME.GUEST_VIEW.CONTACT'"></p>
    <p></p>
  </div>
</ng-container>
