@import "~eygle-core/client/scss/common";

.toolbar {
  & > .actions > .boxed {
    color: $color-yellow;
  }
}

.search {
  width: 100%;
  padding: 0 20px;
}

mat-table {
  height: calc(100% - 60px);
  overflow: auto;
  position: relative;

  mat-row {
    &.selected {
      background-color: transparentize($color-yellow, 0.8);
    }

    mat-cell {
      cursor: default;

      mat-icon.link {
        color: transparentize($color-yellow, 0.2);
      }
    }
  }
}

.loading {
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100% - 110px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
