<div fxLayout="column" class="unselectable">
  <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="actions" fxLayout="row" fxLayoutAlign="start center">
      <span class="boxed" *ngIf="!isLoading && shows">{{shows.length}}</span>
    </div>
  </div>

  <div class="content" fxFlex="flex" fxLayout="row" fxLayoutAlign="center stretch" [perfectScrollbar]="config">
    <div class="loading" *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="20px" *ngIf="!isLoading">
      <ems-media *ngFor="let tvShow of shows" [media]="tvShow" route="tv-shows" placeholderIcon="tv"></ems-media>
    </div>
  </div>
</div>
